<div class="row">
    <h1><u> Educacion</u></h1>
    <div class="col-lg-2">
      <button type="button" class="btn btn-link btn-lg" routerLink="/nuevaedu" *ngIf="isLogged">
        Agregar Educacion
      </button>
    </div>
  
    <div class="col lg 1"></div>
    <div class="col-lg-11">
      <table class="table">  
        <tbody>
          <tr *ngFor="let Educacion of educacion">
            <td>
              <h2>{{ Educacion.nombreE }}</h2>
            </td>
            <td><h5>{{ Educacion.descripcionE }}</h5></td>
            <td *ngIf="isLogged">
              <button class="btn btn-link" routerLink="/editedu/{{ Educacion.id }}">
                <i class="bi bi-vector-pen"></i>EDITAR
              </button>
            </td>
            <td *ngIf="isLogged">
              <button class="btn btn-link" (click)="delete(Educacion.id)">
                <i class="bi bi-trash"></i>ELIMINAR
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

